/* Example CSS file */ 
body {
  font-family: "Libre Baskerville", Georgia, "Times New Roman", Times, serif;
}

ul.unstyled {
	list-style-type: none;
	margin:0;
	padding:0;
}

.main {
	display:flex;	
}

.sidenav {
	width:25%;
	padding:1rem;
}
.sidenav li {
	margin-bottom: 1rem;
}
.body {
	width:75%;
	padding:1rem;
}

.wrapper {
	max-width:1280px;
	margin:0 auto;
}

img.aligncenter {
	display:block;
	margin:0 auto;
}
@media print {    
    .no-print, .no-print * {
        display: none !important;
    }
}
